html{
    scroll-behavior: smooth;
    overflow: hidden;
}


  .text-center1{
      font-family: Lucida Handwriting Edwardian Script Kunstler Script;
      color: black;
      text-align: center;
      font-size: 8vw;
     
     
     
      
     
  }
  .font-1{
      font-family: Neue Arial, Helvetica, sans-serif;
      padding-top: 10px;
  }
  .heading{
      position: fixed;
      z-index: 1;
  }
  .padding{
      padding: 180px;
  }
  .pd-r{
     margin-right: 437px;

  }
  .img{
    height: 170px;
    width: 265px;
      align-items: center;
      margin-left: 56px;
      transition: transform .2s;
  }
 
  
  footer{
      height: 100px;
      width: 100%;
      background-color: black;
      padding-left: 500px;
      padding-top: 40px;
  }
 .insta12{
   

    width: 20px;
    height: 20px;
    align-items: center;
    text-decoration: none;
    color: white;
    
 }
/*
 .trans{
     transition: transform .2s;
 }
 .trans :hover{
     transform: scale(1.5);
 }*/


 

